<!--navgacion maps-->

<nav class="navbar navbar-expand-lg bg-body-tertiary navproyect">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active proyect">Proyecto Final</a>
                </li>
            </ul>
            <form class="d-flex" role="search" [formGroup]=miFormulario (submit)="savedata()">


                <!--Modal-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="showModal(); bandera=true">
                    Crear nuevo usuario
                </button>

                <!-- Modal -->
                <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="d-flex justify-content-between">
                                    <div class="modal-body">

                                        <p>Nombre</p>
                                        <input
                                            [class.is-invalid]="miFormulario.get('username')?.touched && miFormulario.get('username')?.invalid"
                                            type="text" class="form-control" formControlName="username"
                                            (change)="cambio($event)">

                                        <p>Descripcion</p>
                                        <input
                                            [class.is-invalid]="miFormulario.get('descripcion')?.touched && miFormulario.get('descripcion')?.invalid"
                                            type="text" class="form-control" formControlName="descripcion">
                                    </div>

                                    <div class="mapa">
                                        <google-map height="300px" width="300px" [center]="center" [zoom]="zoom"
                                            (mapClick)="coordenadas($event)">
                                            <map-marker [position]="position">
                                            </map-marker>

                                        </google-map>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">cerrar</button>
                                    <button type="submit" class="btn btn-primary" class="btn btn-primary"
                                        data-bs-dismiss="modal" data-bs-target="#exampleModal">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <hr>
</nav>



<div class="container">
    <div class="d-flex justify-content-between">
        <div class="card-item">

            <!--cards-->
            <div *ngFor="let itemuser of users; let i =index">
                <div class="card border-success mb-3 w-100">
                    <div class="card-header bg-transparent border-success">
                        <nav class="navbar bg-body-tertiary card-change">
                            <div class="container-fluid">
                                <a class="navbar-brand">Nombre:</a>
                                <a class="navbar-brand">{{itemuser.username}}</a>
                                <form class="d-flex justify-content-between">

                                    <button class="btn btn-outline-success" type="submit" (click)="borrar(i)"><img
                                            src="assets/borrar.png" class="icono-card"></button>

                                    <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        (click)="editartexto(itemuser, i); bandera = false"><img src="assets/editar.png"
                                            class="icono-card"></button>
                                    <button class="btn btn-outline-success" type="submit"
                                        (click)="vertexto(itemuser, i)"><img src="assets/ver.png"
                                            class="icono-card"></button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Descripcion:</h5>
                        <p class="card-text">{{itemuser.descripcion}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Ubicacion</div>
                </div>
            </div>

        </div>
        <div class="mapa">
            <google-map height="400px" width="750px" [center]="center" [zoom]="zoom">
                <map-marker [position]="item.position" *ngFor="let item of users">
                </map-marker>


            </google-map>
        </div>
    </div>
</div>