
<div class ="fondo">

<!--barra de navegacion-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"><img src= "assets/pc_icon_1.png" class="icon"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contenidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">informacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">soporte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--carta-->
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{card.title}}</h5>
      <p class="card-text">{{card.description}}</p>
      <button type= "button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Siguiente</button>
    </div>
  </div>

<!--modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Gracias por visitar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tu visita ayuda la pagina
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
          <button type="button" class="btn btn-primary">salvar cambios</button>
        </div>
      </div>
    </div>
  </div>

  <!--contenido tabla-->

  <div class = "" texto>
 
    <h1 class = "titulo">Computadora</h1>
      <br>
      {{text.text1}}
      <br>
     <!--App primer dia-->
<!--       <app-primer-dia [ejemplo]="dinamico"></app-primer-dia>
      <router-outlet/> -->

      <app-segundo-dia></app-segundo-dia>

      
        <!-- <img src="assets/computadoradesk.png" class ="imagen"> -->
  
  </div>

</div>